@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Are your kids watching too much TV? Not getting enough exercise? PoD is an IoT device which uses a trainer (=stationary bicycle) to control the TV. 
    It detects when your kids aren't pedaling (or - if you are especially sadistic - not pedaling fast enough!) and cuts off the TV signal.
    Because kids can pedal near-infinite distances when SpongeBob is involved. 
    It is known... As an added bonus, the telemetry from the bike is saved to the cloud so you can create cool visualizations and share your evil genius parenting skills with all your friends!</p>
